<div class="post">

  <div class="header">
    <h1>Post title</h1>
    <button class="btn btn-link" routerLink="/"><< Main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>02.03.2020</small>
  </div>

  <div>
    <p>Paradox, enlightenment and a special monastery. Smooth, salty pudding is best garnished with slobbery broccoli juice.</p>
    <p>Paradox, enlightenment and a special monastery. Smooth, salty pudding is best garnished with slobbery broccoli juice.</p>
    <p>Paradox, enlightenment and a special monastery. Smooth, salty pudding is best garnished with slobbery broccoli juice.</p>
  </div>
</div>
