<form class="card" [formGroup]="form" (ngSubmit)="submit()">

  <h2>Log in</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>

  <div class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Please enter email</small>
      <small *ngIf="form.get('email').errors.email">Please enter valid email</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Please enter password</small>
      <small *ngIf="form.get('password').errors.minlength">Password too small</small>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">
    Go
  </button>

</form>
